select,
input,
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #a687fa;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5f3dc4;
}
